.sidebar {
 width: 470px;
 background: #ffffff;
 border-right: 1px solid #e3e3e3;
 display: flex;
 flex-direction: column;
}

.top-bar {
 padding: 10px;
 background-color: black;
}

.top-bar input {
 width: 80%;
 padding: 10px;
 border-radius: 10px;
 border: 1px solid #ccc;
}

/* .create-group-btn {
 margin: 10px;
 padding: 10px;
 background: #4c7fff;
 color: #fff;
 border-radius: 10px;
 border: none;
 cursor: pointer;
} */

.chat-list {
 flex: 1;
 overflow-y: auto;
 background-color: black;
}

.chat-item {
 display: flex;
 align-items: center;
 padding: 1px;
 cursor: pointer;
 border-bottom: 1px solid black;
}

.chat-item img {
 width: 45px;
 height: 45px;
 border-radius: 50%;
 margin-right: 12px;
}

.chat-item:hover {
 background: black;
}


.message-bar {
 display: flex;
 gap: 2px;
 padding: 3px;
 background: #111;
 align-items: center;
 justify-content: center;   /* horizontally center */
}

/* .filter-btn {
 padding: 8px 16px;
 border: none;
 outline: none;
 background: #000 ;
 color: white;
 border-radius: 20px;
 cursor: pointer;
 transition: 0.2s ease;
}

.filter-btn:hover {
 background: #075E54;
}

.filter-btn.active {
 background: #075E54;
} */

.filter-btn {
 padding: 8px 16px;
 border: none;
 outline: none;
 background: #000;
 color: white;
 border-radius: 20px;
 cursor: pointer;
 transition: 0.2s ease;
}

.filter-btn:hover {
 background: #075E54;
}

.filter-btn.active {
 background: #075E54;   /* green stays after click */
}


.header-bar {
 display: flex;
 justify-content: space-between;
 align-items: center;
 height: 8vh;
 width: 100%;
 background: #000;
 color: white;
 padding: 0 15px; /* spacing left & right ONLY */
 margin: 0;
}

.app-title {
 font-size: 1.8rem;
 font-weight: 600;
 margin: 0;
 padding: 0;
}

.menu-btn {
 background: transparent;
 border: none;
 color: white;
 font-size: 2rem;
 cursor: pointer;
 margin: 0;
 padding-right: 0.5rem;
}
