.chat-window {
 flex: 1;
 display: flex;
 flex-direction: column;
}

.top-bar-chat {
 background: black;
 padding: 15px;
 /* border-bottom: 1px solid #e3e3e3; */
}

.messages-area {
 flex: 1;
 padding: 20px;
 overflow-y: auto;
 background: #123524;
}

.message {
 margin-bottom: 12px;
 display: flex;
}

.message.self {
 justify-content: flex-end;
}

.message.other {
 justify-content: flex-start;
}

.bubble {
 padding: 12px 16px;
 background: #4c7fff;
 color: white;
 border-radius: 15px;
 max-width: 50%;
}

.message.other .bubble {
 background: #fff;
 color: #333;
 border: 1px solid #ddd;
}

.chat-item{
 display: flex;
}

.chat-item img {
 width: 45px;
 height: 45px;
 border-radius: 50%;
 margin-right: 12px;
}