.input-area {
 display: flex;
 padding: 15px;
 background: black;
 border-top: 1px solid #e3e3e3;
 align-items: center;
 width: 500px;
}

.msg-input {
 height: 1.5rem;
 flex: 2;
 margin: 0 12px;
 padding: 12px;
 border-radius: 10px;
 border: 1px solid #ccc;
 font-size: 18px;
}

.send-btn {
 background: #4c7fff;
 color: white;
 padding: 10px 18px;
 border-radius: 10px;
 border: none;
 cursor: pointer;
}

.file-uploader {
 cursor: pointer;
}
