.input-area {
 display: flex;
 padding: 15px;
 background: white;
 border-top: 1px solid #e3e3e3;
 align-items: center;
}

.msg-input {
 flex: 1;
 margin: 0 12px;
 padding: 12px;
 border-radius: 10px;
 border: 1px solid #ccc;
}

.send-btn {
 background: #4c7fff;
 color: white;
 padding: 10px 18px;
 border-radius: 10px;
 border: none;
 cursor: pointer;
}

.file-uploader {
 cursor: pointer;
}
